[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = hyeonjongko
	email = 115774307+hyeonjongko@users.noreply.github.com
[core]
	autocrlf = true
